.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.holderLink {
  display: flex;
  justify-content: center;
  width: 50%;
}

.holderbuttonRadnici {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  border: 1px solid #000;
  border-radius: 20px;
}

.holderbuttonRadnici:hover {
  transform: scale(1.1);
}
.iconUsers {
}

.holderbuttonKalendar {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  transition: transform 0.3s;
  border-radius: 20px;
}
.holderbuttonKalendar:hover {
  transform: scale(1.1);
}
.iconCalendar {
}
